:root {
  --black: #0b132bff;
  --dark-gray: #1c2541ff;
  --gray: #3a506bff;
  --blue: #5bc0beff;
  --light-blue: #6fffe9ff;
  --federal-blue: #03045eff;
  --marian-blue: #023e8aff;
  --honolulu-blue: #0077b6ff;
  --blue-green: #0096c7ff;
  --pacific-cyan: #00b4d8ff;
  --vivid-sky-blue: #48cae4ff;
  --non-photo-blue: #90e0efff;
  --non-photo-blue-2: #ade8f4ff;
  --light-cyan: #caf0f8ff;
}

body {
  background-color: var(--black);
  overflow: hidden;
  padding: 2%;
}

.app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2%;
  width: 100%;
  height: 90vh;
}

.text {
  text-align: justify;
  text-align-last: center;
  line-height: 3vh;
  padding: 5%;
  font-size: 1.5vh;
}

.sub-text {
  text-align: center;
  font-weight: bold;
  line-height: 3vh;
  font-size: 1.5vh;
  padding: 5%;
}

.main-text {
  text-align: justify;
  text-align-last: center;
  line-height: 3vh;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
  font-size: 1.75vh;
}

.fade {
  animation: fade 1s;
}

.name {
  font-size: 3vh;
  text-align: center;
  color: white;
  margin: 0;
}

.my-name {
  font-size: 7vh;
  text-align: center;
  color: white;
  margin: 0;
}

.h-100 {
  height: 100%;
}

.h-80 {
  height: 80%;
  width: 80%;
}

.h-40 {
  height: 48%;
}

.w-100 {
  width: 100%;
}

.w-60 {
  width: 46%;
}

.w-20 {
  width: 22%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-self: start;
  align-content: space-between;
  height: 100%;
  width: 75%;
  gap: 3%;
}

ul {
  list-style: none;
  color: white;
}

a {
  color: var(--vivid-sky-blue);
}

img {
  height: 75%;
  object-fit: cover;
  filter: sepia(1) hue-rotate(140deg) saturate(1.5);
  width: 100%;
}

.between {
  justify-content: space-between !important;
}

.reg-icon {
  font-size: 8vh;
}

/* wave card */
.e-card {
  background: var(--dark-gray);
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 1500px;
  height: 1500px;
  opacity: 0.6;
  left: 0;
  top: -1100px;
  margin-left: -125%;
  margin-top: 1000px;
  background: linear-gradient(
    744deg,
    var(--dark-gray),
    var(--honolulu-blue) 60%,
    var(--light-blue)
  );
}

.infotop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
  text-align: center;
  font-size: 1.75vh;
  position: absolute;
  top: 5em;
  left: 0;
  right: 0;
  color: white;
}

.wave:nth-child(2) {
  top: -915px;
}
.wave:nth-child(3) {
  top: -925px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 8000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 10000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 12000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* image card */
.image-card {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  perspective: 1000px;
  transition: transform 0.5s ease;
  font-family: sans-serif;
}

.image-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-card-front,
.image-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

.image-card-front {
  z-index: 2;
  transform: translateY(0%);
  color: var(--light-cyan);
  background: linear-gradient(140deg, var(--dark-gray), var(--honolulu-blue), var(--pacific-cyan));
}

.image-card-back {
  z-index: 1;
  justify-content: space-between;
  color: white;
  height: 100%;
  background: linear-gradient(230deg, var(--dark-gray), var(--honolulu-blue), var(--pacific-cyan));
}

.image-card:hover .image-card-front {
  transform: translateY(-105%);
}

/* flip card */
.flip-card {
  background-color: transparent;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  align-items: center;
  font-size: 3vh;
  text-align: center;
  font-weight: bold;
  color: var(--light-cyan);
}

.big-title {
  align-items: center;
  font-size: 4vh;
  text-align: center;
  font-weight: bold;
  color: var(--light-cyan);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(140deg, var(--dark-gray), var(--honolulu-blue), var(--pacific-cyan));
  color: var(--dark-gray);
}

.flip-card-back {
  background: linear-gradient(230deg, var(--dark-gray), var(--honolulu-blue), var(--pacific-cyan));
  color: white;
  transform: rotateY(180deg);
}

.card-alt {
  background: var(--dark-gray);
}

.text-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
  background: var(--dark-gray);
  margin: 5%;
}

.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
  border-bottom: 1px solid var(--vivid-sky-blue);
  box-sizing: border-box;
  padding: 0.25rem;
  width: 100%;
  font-size: 1vh;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 0;
  color: white;
  transition: all 0.15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  color: var(--dark-gray);
  background-color: var(--light-cyan);
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.custom-radio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.custom-radio input[type="radio"] {
  display: none;
}

.radio-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4% 4%;
  cursor: pointer;
  border-radius: 1rem;
  overflow: hidden;
  height: 10%;
  transition: background-color 0.3s ease-in-out;
}

.radio-label::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--light-cyan);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 1rem;
  z-index: 0;
}

.radio-label:hover::before {
  opacity: 0.33;
}

.radio-text {
  position: relative;
  z-index: 1;
  font-size: 2.5vh;
  text-align: center;
  font-weight: bold;
  color: var(--light-cyan);
  transition: color 0.3s ease-in-out;
}

.custom-radio input[type="radio"]:checked + .radio-label {
  background-color: var(--light-cyan);
  border-radius: 1rem;
}

.custom-radio input[type="radio"]:checked + .radio-label .radio-circle {
  border-color: #fff;
  border-radius: 1rem;
  background-color: var(--light-cyan);
}

.custom-radio input[type="radio"]:checked + .radio-label .radio-text {
  color: var(--dark-gray);
  border-radius: 1rem;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

@media (width <= 1250px) {
  body {
    overflow: scroll;
  }

  .app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
    width: 100%;
  }

  .w-20 {
    width: 100%;
  }

  .w-60 {
    width: 100%;
  }

  .h-40 {
    height: 60%;
  }

  .mobile-row {
    flex-direction: row;
  }

  .row {
    flex-direction: none;
    justify-content: center;
    width: 100%;
    row-gap: 2%;
  }

  .order-1 {
    order: 2;
  }

  .order-2 {
    order: 1;
  }

  .order-3 {
    order: 5;
  }

  .order-4 {
    order: 4;
  }

  .order-5 {
    order: 5;
  }

  .order-6 {
    order: 6;
  }

  .mobile-pic {
    display: none;
  }

  .tabs {
    height: 15%;
  }

  .custom-radio {
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .center {
    justify-content: center !important;
  }
}
